.field {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1%;
    width: 500px;
    height: 500px;
    padding: 50px 25px;
    background-color: var(--color-dark-blue);
    border-radius: 50px;
}

.start-btn {
    min-width: 200px;
    padding: 5px 15px;
    border: 2px solid var(--color-border) ;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--color-neutral);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-range {
    min-width: 200px
}

.game-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.score {
    min-width: 25%;
    text-align: center;
}

.opponent-title {
    font-size: 3rem;
    color: var(--color-dark-blue)
}

.points {
    background-color: var(--color-dark-blue);
    border-radius: 15px;
    font-size: 20rem;
}

.player-points {
    color: var(--color-success);
}

.computer-points {
    color: var(--color-failed);
}
