:host {
    text-align: center;
}

.opponent-title {
    font-size: 3rem;
    color: var(--color-dark-blue)
}

.points {
    background-color: var(--color-dark-blue);
    border-radius: 15px;
    font-size: var(--font-size-large);
}

.player-points {
    color: var(--color-success);
}

.computer-points {
    color: var(--color-failed);
}

@media (max-width: 1024px) {
    :host {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .points {
        font-size: var(--font-size-medium);
    }

    .opponent-title {
        margin: 0 5px 0 0;
    }
}

@media (max-width: 768px) {
    .points,
    .opponent-title{
        font-size: var(--font-size-small);
    }
}

@media (max-width: 320px) {
    .points,
    .opponent-title{
        font-size: var(--font-size-mobile);
    }
}
