.field {
    margin: 10px 0 25px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1%;
    width: 500px;
    height: 500px;
    padding: 50px 25px;
    background-color: var(--color-dark-blue);
    border-radius: 50px;
}

.start-btn {
    min-width: 200px;
    padding: 5px 15px;
    border: 2px solid var(--color-border) ;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--color-neutral);
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-unit {
    text-align: center;
    width: 100%;
    display: inline-block;
}

@media (max-width: 1024px) {
    .field {
        width: 400px;
        height: 400px;
        padding: 25px 15px;
        border-radius: 25px;
    }
}

@media (max-width: 768px) {
    .field {
        width: 300px;
        height: 300px;
        padding: 15px 10px;
        border-radius: 15px;
    }

    .start-btn {
        min-width: 100px;
    }
}

@media (max-width: 320px) {
    .field {
        width: 200px;
        height: 200px;
        padding: 10px 5px;
        border-radius: 5px;
    }

    .controls {
        display: flex;
        flex-direction: column;
    }
}
