:root {
  --color-neutral: #3ba5ff;
  --color-active: gold;
  --color-success: lightgreen;
  --color-failed: palevioletred;
  --color-border: #224ba1;
  --color-dark-blue: #211a48;
}

html {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  background-color: lightgrey;
}

.btn {
  cursor: pointer;
}

.btn:hover:not(:disabled) {
  opacity: .8;
}

.btn:active:not(:disabled) {
  transform: scale(1.05);
}
