:root {
  --color-neutral: #3ba5ff;
  --color-active: gold;
  --color-success: lightgreen;
  --color-failed: palevioletred;
  --color-border: #224ba1;
  --color-dark-blue: #211a48;

  --font-size-large: 12rem;
  --font-size-medium: 5rem;
  --font-size-small: 2rem;
  --font-size-mobile: 1rem;
}

html {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  background-color: lightgrey;
}

button {
  cursor: pointer;
}

input[type=range] {
  cursor: pointer;
}

button:hover:not(:disabled) {
  opacity: .8;
}

button:active:not(:disabled) {
  transform: scale(1.05);
}
