.box {
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-border);
    border-radius: 5px;
}

.box.neutral {
    background-color: var(--color-neutral);
}

.box.active {
    background-color: var(--color-active);
}

.box.success {
    background-color: var(--color-success);
}

.box.failed {
    background-color: var(--color-failed);
}
